# Welcome to learning Python!

These notebooks contain a mix of text and code. 
This makes it easy to experiment with code and keep documentation like this in the same place. 
You can execute each cell individually and therefore work incrementally with your code. 
If you want to execute a cell, you can press the `►` button above when you have highlighted the cell. 
Alternatively, you can hit `Shift + Enter` to execute and progress to next cell or alternatively `Ctrl + Enter` (Windows) or `Cmd + Enter` (Mac). 

Take your time to experiment with it if you like and don't hesitate to ask or search for things in your favorite browser.

----

Estos notebooks contienen una combinación de texto y código, lo que facilita la experimentación con el código y mantiene documentación como esta en el mismo lugar. 
En los notebooks se puede ejecutar cada celda individualmente y, por lo tanto, trabajar de forma incremental con su código. 
Si desea ejecutar una celda, puede presionar el botón `►` de arriba cuando haya resaltado la celda o presionar `Shift + Enter` para ejecutar y avanzar a la siguiente celda o alternativamente `Ctrl + Enter` (Window) o `Cmd + Enter` (Mac).

Tómate tu tiempo para experimentar con él si quieres y no dudes en preguntar o buscar cosas en tu navegador favorito.

## Variables and data type / Variables y tipos de datos 

A _variable_ allows us to store a value.
In Python, we can assign a value to a variable, using the equals sign `=`.

**Python is an object oriented programming language. You do not need to declare variables (or their types) before using them as every variable in Python is an object.** 

----

Una _variable_ nos permite almacenar un valor en un lugar determinado. 
En Python usamos el simbolo `=` para asignar un valor a una variable.

**Python es un lenguaje de programación orientado a objetos. No es necesario declarar variables (o sus tipos) antes de usarlas, ya que cada variable en Python es un objeto.**

In [2]:
alumni = 15
course_name = "CoCo"

The keyword `print()` is a function in Python.
We can use it to see the value store in the variable.

----

`print()` es una funcion en Python, que podemos usarla para examinar el valor asisnado a una variable.

In [3]:
print(alumni)

15

In [4]:
print(course_name, "course has", alumni, "alumni")

CoCo course has 15 alumni

Moreover, variables can easily be updated.
Try it out below!

---

Además, las variables se pueden actualizar fácilmente.
¡Probemoslo!

**Data Types / Tipos de datos**

There are several different data types that we will be exploring in the course, including:
* integer
* string
* float

---

Hay diferentes tipos de datos que vamos a ver en el curso, los cuales son:
* integers (int): números enteros
* strings (str): cadena de caracteres
* floats (float): valores de punto flotante (representación aproximada de números reales).

In [5]:
type(alumni)

int

In [6]:
type(course_name)

str

In [7]:
half_alumni = alumni / 2

print(half_alumni, "is", type(half_alumni))

7.5 is <class 'float'>

If you want to concatenate two or more strings, there are several ways to achieve this in Python. 
The simplest method is to use `+`

---

Si desea concatenar dos o más cadenas juntas hay varias formas de hacelo.
La mas comun es usar `+`.

In [8]:
saludo = "hola" + " " + "mundo"

print(saludo)

hola mundo

### Formative assessment 1

What would be the difference between an integer and float data type?
How would we convert a float into an integer?
(Give a best guess answer)

---

¿Cuál sería la diferencia entre un tipo de datos entero y flotante?
¿Cómo convertiríamos un flotante en un número entero?
(Dar una mejor respuesta posible)

In [9]:
# Solutiopn / solucion

Int_alumni = int(half_alumni)

print(half_alumni, "is", type(half_alumni), 
      "but", Int_alumni, "is", type(Int_alumni)
     )

7.5 is <class 'float'> but 7 is <class 'int'>

### Formative assessment 2

What will be the output of the next cell? / ¿Cual será el output de la siguiente celda?

```
channel = 100.0
```

1. int

2. float

3. str

In [10]:
# Solution / solucion

channel = 100.0
type(channel)

float

### Mathematical operations / Operaciones matemáticas

All of the standard calculator arithmetic operations are available between variables.

We measure a certain geophysical variable at a height of 53.2 meters above sea level: 

---

Podemos aplicar diferentes operaciones matemáticas a las variables.

Medimos una determinada variable geofísica a una altura de 53.2 metros sobre el nivel del mar:

In [11]:
sea_height = 53.2

In [12]:
sea_height%

SyntaxError: invalid syntax (391870635.py, line 1)

**Addition / Suma**

In [14]:
sea_height + 10.6

63.800000000000004

In [15]:
sea_height - 3.5

49.7

**Multiplication / Multiplicación**

In [16]:
sea_height * 2

106.4

**Division / División**

In [17]:
sea_height / 2

26.6

In [18]:
sea_height // 2

26.0

**Power / Potencia**

In [19]:
sea_height ** 2

2830.2400000000002

## Data Structures

A data structure is a term to describe a type of "data container". 
They are used to store multiples of (usually) the same type of data and provide certain accessor functions to extract the data from the container. 

---

Una estructura de datos es un término para describir un tipo de "contenedor de datos".
Se utilizan para almacenar muchos valores del mismo tipo de datos y proporciona ciertas funciones de acceso para extraer los datos del contenedor.

### List / Listas

Python lists are used to store a collection of data.

A list is composed of comma-separated values between square brackets.

---

Las listas nos permiten guardar múltiples valores bajo una misma variable.  

Una lista es una lista de valores separados por comas entre corchetes.

In [20]:
impares = [1, 3, 5, 7, 9]

type(impares)

list

It can store heterogeneous data or you can even have lists of lists.

---

Pueden tener cualquier tipo de elementos hasta listas.

In [21]:
list_heterogeneous = ["agua", 20.1, 52]

anidadas = [[1, 2, 3], 3.0, "hielo"]

print(list_heterogeneous, anidadas)

['agua', 20.1, 52] [[1, 2, 3], 3.0, 'hielo']

In [24]:
# access the first element of the list, which is a list.
# acceder al primer elemento de la lista, que es una lista.

anidadas[0]

[1, 2, 3]

We can access to the values housed in a list through its indices.

---

Podemos acceder a los valores alojados dentro de una lista a través de sus índices.

In [25]:
temperaturas = [10.1, 14.6, 18.3, 20.3]

In [26]:
temperaturas

[10.1, 14.6, 18.3, 20.3]

In [27]:
print("Primer valor de temperatura:", temperaturas[0])
print("Segundo valor de temperatura:", temperaturas[1])
print("Último valor de temperatura:", temperaturas[-1])
print("Penúltimo valor de temperatura:", temperaturas[-2])

Primer valor de temperatura: 10.1
Segundo valor de temperatura: 14.6
Último valor de temperatura: 20.3
Penúltimo valor de temperatura: 18.3

**Observations:**

* In Python, the 0 index is the first element.
* Negative indices indicate that we start counting from the last item in the list.
* Lists have a method called `append` that allows us to add values.
* The lists do not have a fixed length, we can change it as we need.

---

**Observaciones**

* En Python, el índice 0 indica el primer elemento.
* Índices negativos indican que empezamos a contar desde el último elemento de la lista.
* Las listas poseen un método llamado `append` que nos permite agregar valores.
* Las listas no tienen una longitud fija, podemos cambiarla según lo necesitemos.

The indices also allow us to modify the values of the list / Los índices además nos permiten modificar los valores de la lista.

In [28]:
temperaturas[0] = -2.3

print(temperaturas)

[-2.3, 14.6, 18.3, 20.3]

In [29]:
temperaturas.append(23.5)

print(temperaturas)

[-2.3, 14.6, 18.3, 20.3, 23.5]

Use `len` to find out how many values are in a list. / Usamos la función `len` para ver cuantos elementos tiene una lista.

In [30]:
len(temperaturas)

5

In case we want to extract a _slice of the list_ instead of a single element, it is possible.

If we want to obtain all the elements from the second to the fourth, inclusive:

---

En caso de que querramos _extraer una porción_ de la lista en vez de un sólo elemento, es posible utilizar slices.

Si queremos obtener todos los elementos desde el segundo hasta el cuarto, inclusive:

In [31]:
temperaturas[1:4]

[14.6, 18.3, 20.3]

If we want to choose the first three elements:

---

Si queremos elegir los primeros tres elementos:

In [32]:
temperaturas[:3]

[-2.3, 14.6, 18.3]

Similarly, if we want to get all the elements after the third element:

---

De manera similar, si queremos obtener todos los elementos después del tercero:

In [33]:
temperaturas[3:]

[20.3, 23.5]

How can we use a slice to access all its elements except the last one?

---

¿Cómo podemos usar un slice para acceder a todos sus elementos menos el último?

In [36]:
temperaturas[:-1]

[-2.3, 14.6, 18.3, 20.3]

We can concatenate lists using `+` / Podemos concatenar listas usando `+`.

In [37]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

**Can you create an empty list? / ¿Se puede crear una lista vacía?**

In [38]:
lista_vacia = []

lista_vacia

[]

### Tuple / Tupla

Tuples are kind of like constant list. 
If you have data that you want to store in a structure, but you know it will not be changed, tuples can be more efficient.

---

Las tuplas son como una lista pero invariante.
Si tiene datos que desea almacenar en una estructura, pero sabe que no se cambiarán, las tuplas pueden ser más eficientes para su almacenamiento.

In [39]:
tuple = (2, 3.4, "March")

In [40]:
tuple[2]

'March'

In [41]:
tuple[2] = "Jun"

TypeError: 'tuple' object does not support item assignment

### Dictionary / Diccionario

Dictionaries are a way to efficiently store and retrieve data values by _keyword_.

A dictionary is formed of value-key pairs, separated by commas, enclosed in curly brackets `{}`.  
The key and the value are separated by a colon `:`, i.e. `key:value`.

---

Los diccionarios nos permiten almacenar cualquier tipo de datos identificandolos por una _palabra clave_.

Un diccionario está formado por pares de valores y claves, separados por comas, encerrados entre corchetes `{}`.
La clave y el valor están separados por una colon `:`, es decir, `clave: valor`.

In [42]:
my_dict = {'numerical' : 1, 'alphabetical': 'abc'}

print(my_dict)

{'numerical': 1, 'alphabetical': 'abc'}

We can access values using the keys between square brackets. / Podemos acceder a los valores usando las claves entre corchetes.

In [43]:
my_dict['numerical']

1

In [44]:
my_dict.get("alphabetical")

'abc'

In [45]:
my_dict.keys()

dict_keys(['numerical', 'alphabetical'])

Keys are immutables (i.e. can't be changed) but values can be updated.

---

Las claves son inmutables (es decir, no se pueden cambiar) pero los valores se pueden actualizar.

In [46]:
my_dict['numerical'] = 5

We can also add new key-value pairs / También podemos agregar nuevos pares clave-valor.

In [47]:
my_dict['binary'] = 1010001

print (my_dict)

{'numerical': 5, 'alphabetical': 'abc', 'binary': 1010001}

### Formative assessment 3

What happens if we try to access item 10 of the list `[-3.0, -2.0, -1.0]`?

1. Error

2. -1.0

3. Nothing happens

---

¿Qué sucede si intentamos acceder al elemento 10 de la lista `[-3.0, -2.0, -1.0]`?

1. Error

2. -1.0

3. No pasa nada

In [48]:
# Solution / Solución

lista = [-3.0, -2.0, -1.0]

lista[10]

IndexError: list index out of range

## For loops

A _for loop_ is meant to repeat specific lines of code.
This is helpful when having to execute a block of code on a list (as an example).
The structure of a for loop is as follows:

* a loop starts with a `for` statement, followed by a counter.  
* code within the loop is used to execute on each value within a series.
* In Python, indensation is not decoration, they are functional.

---

Un _for loop_ for está destinado a repetir líneas de código específicas. Esto es útil cuando se tiene que ejecutar un bloque de código en una lista (como ejemplo).
La estructura de un bucl es:

* un bucle comienza con una declaración `for`, seguida de un contador.
* el código dentro del bucle se utiliza para ejecutar en cada valor dentro de una serie.
* En Python, la indenstacion no es decoracion, son funcionales.

In [49]:
a = [1, 2, 3, 4, 5, 6]   # List which we will use to execute for loop

for i in a:   #initialize for loop with counter
    variable = i + 1   # code to be executed on the list
    print(variable)   # printing results

2
3
4
5
6
7

In [50]:
# Let's add all the numbers from 1 to 10. 
# Sumemos todos los números del 1 al 10.

suma = 0
for i in range(10):
    # We add a 1 to i to add from 1 to 10 and not from 0 to 9 
    # Le añadimos un 1 a i para sumar de 1 a 10 y no de 0 a 9
    suma = suma + (i + 1)

print(suma)

55

### First Practice Exercise / Primer ejercicio de práctica

Create a for loop for the following list that multiplies each value in list, by 2. Print the results.

---

Cree un ciclo for para la siguiente lista que multiplique cada valor de la lista por 2. Imprima los resultados. 

```
array = [2, 4, 6, 8, 10]
```

In [51]:
# Solution / Solución

array = [2 ,4 ,6 ,8 ,10]

for i in array:
    new_array = i*2
    print(new_array)

4
8
12
16
20

## Conditional Statements / Condicionales

A conditional statement is used to handle decisions within your code.
The purpose is to execute a piece of code so long as the condition is met. In this lecture, we will be exploring how to use the _if/else_ statement. 

---

Una declaración condicional se usa para manejar decisiones dentro del código.
El propósito es ejecutar un fragmento de código siempre que se cumpla la condición.
En esta lección, exploraremos cómo usar la declaración _if/else_.

In [52]:
a = 33
b = 100

if b > a:
  print("b is greater than a")  # b es mas grande que a
elif a == b:
  print("a and b are equal")  # a es igual a b

b is greater than a

**Conditional operators**

* `==` for testing if two data types are equal to each other.
* `!=` for testing if two data types are not equal to each other.
* `>` for testing if one data type is greater than another.
* `<` for testing if one data type is less than another.
* `>=` for testing if one data type is greater than or equal to another.
* `<=` for testing if one data type is less than or equal to another.

---

**Operadores condicionales**

* `==` para probar si dos tipos de datos son iguales entre sí.
* `! =` para probar si dos tipos de datos no son iguales entre sí.
* `>` para probar si un tipo de datos es mayor que otro.
* `<` para probar si un tipo de datos es menor que otro.
* `> =` para probar si un tipo de datos es mayor o igual que otro.
* `<=` para probar si un tipo de datos es menor o igual que otro.

In [53]:
temperatura_c = -5

hiela = (temperatura_c <= 0)

type(hiela)

bool

**Bools** are binary variables, so, they can only store two values: `True` or `False`.
Python implements the concept of "truthiness", that means their numerical values are 1 and 0. 
These values are especially important for comparisons

_Important:_ They are not str.

---

Los **bools o buleanos** son variables binarias, es decir, solo pueden almacenar dos valores: `True` (verdadero) o `False` (falso).
Python implementa el concepto de "veracidad", lo que significa que sus valores numéricos son 1 y 0. 
Estos valores son especialmente importantes para las comparaciones.

_Importante:_ Un bool no es un str.

### Formative assessment 4

Build an if/else statement that prints if a variable is a float or an integer.

---

Cree una declaración if/else que imprima si una variable es un número flotante o un número entero.

`a = 101.7`

In [54]:
# Solution / Solución

a = 101.7

if type(a) == float:
    print('This value is a float')
else:
    print('This value is a string')

This value is a float

## Homework / Tarea

### 1° Task

A colleague from the United States shared with us the following temperature measurement, given in Fahrenheit:

$$
T = 30.3^\circ \text{F}
$$

Convert this value to degrees Celsius, knowing that:
$$[^\circ \text{C}] = \frac{5}{9} ([^\circ \text{F}] - 32) $$

Requirements:

* Assign the received data to a variable.
* Apply the unit transformation using this variable.
* Save the data in Celsius in another variable.
* Use the print function to display both results.

---

Un colega de Estados Unidos nos ha compartido la siguiente medición de temperatura de suelo dada en Fahrenheit:
$$ T = 30.3 ^\circ\text{F} $$

Conviertan este valor a grados Celsius, sabiendo que:
$$ [^\circ\text{C}] = \frac{5}{9} ([^\circ\text{F}] - 32) $$

Requerimientos:

* Asignar el dato recibido a una variable.
* Aplicar la transformación de unidades usando esta variable.
* Guardar el dato en Celsius en otra variable.
* Utilizar la función print para mostrar ambos resultados.

In [ ]:
# Solucion
temperatura_f = 30.3
temperatura_c = 5 / 9 * (temperatura_f - 32)

print(temperatura_c)

### 2° Task

Convert the following list of temperatures in Fahrenheit to Celsius with a for loop.

temperatures_F = [30.3, 20.1, 46.5, 34.1, 42.3]


_Help:_

It may be useful to create an empty list where we store the temperature data in Celsius and add values to it with the append method.

---

Convierta la siguiente lista de temperaturas en Fahrenheit a grados Centígrados unado un for loop.

temperaturas_F = [30.3, 20.1, 46.5, 34.1, 42.3]


_Ayuda:_

Quizás sea útil crear una lista vacía donde guardemos los datos de temperatura en Celsius e ir agregándole valores con el método append

In [ ]:
# Solution / Solución

temperaturas_F = [30.3, 20.1, 46.5, 34.1, 42.3]

temperaturas_c = [5 / 9 * (temp_f - 32) for temp_f in temperaturas_F]

### 3° task

Using the list below (`list_values`), create a for loop that multiplies each value in the list by 2 _if_ the value is greater than 2.
Print the values.

---

Usando la lista a continuación (`list_values`), cree un ciclo for que multiplique cada valor en la lista por 2 _si_ el valor es mayor que 2.
Imprima los valores.

```
list_values = [1 ,2 ,3 ,4, 5, 6, 7]
```

In [ ]:
# Solution / Solución

list_values = [1, 2, 3, 4, 5, 6, 7]

for i in list_values:
    if i > 2:
        new_values = i*2
        print(new_values)

## Extra material to keep learning / Material extra para seguir aprendiendo

* [How use JupyterLab by Software Carpentry](https://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html)

* [Apuntes generates de Python](https://drive.google.com/file/d/12_1yUhaGeoH7wLGqrHiSx987FMdqM_Mv/view)

* [Introduction to Python - Lesson 1](https://johnfoster.pge.utexas.edu/numerical-methods-book/PythonIntro.html)

* [Plotting and Programming in Python by Software Carpenty](https://swcarpentry.github.io/python-novice-gapminder/index.html) (lessons 2, 3, 4, 12 and 13)