# Welcome to learning Python!

These notebooks contain a mix of text and code. This makes it easy to experiment with code and keep documentation like this in the same place. 

**In this notebook we will learn about**:
* Variables
* Types of data
* Different data structures
* Working with Numpy arrays

## Jupyter Notebooks

You can execute each cell individually, and therefore work incrementally with your code.

If you want to execute a cell, you can press the `â–º` button above after you selected the cell. 
Alternatively, you can hit `Shift + Enter` to execute and progress to next cell or alternatively `Ctrl + Enter` (Windows) or `Cmd + Enter` (Mac).

In [1]:
gjdsfkflsdfsl

NameError: name 'gjdsfkflsdfsl' is not defined

In [ ]:
bgfdgfbladlsdf

In [2]:
"run me!!!!"

'run me!!!!'

_Take your time to experiment with it if you like and don't hesitate to ask or search for things in your favorite browser._

### Problem #1

Find a way to make python show the text "Hola Mundo" and put the code in the cell below

In [3]:
print("Hola Mundo")

Hola Mundo

## Variables and data type

A _variable_ allows us to store a value.
In Python, we can assign a value to a variable, using the equals sign `=`.

In [1]:
alumni = 15
course_name = "CoCo"

The keyword `print()` is a function in Python.
We can use it to see the value stored in the variable.

In [2]:
print(alumni)

15

In [3]:
#a way to print in several lines of code
print(course_name, "course has", alumni, "alumni")

CoCo course has 15 alumni

Moreover, variables can be changed. Try assinging a variable, printing it, then changed it, and print it again. Create a new cell below to do it.

**Data Types / Tipos de datos**

There are several different data types that we will be exploring in the course, including:
* integer: integers
* string: text
* float: real-value

In [4]:
type(alumni)

int

In [5]:
type(course_name)

str

In [6]:
half_alumni = alumni / 2

print(half_alumni, "is", type(half_alumni))

7.5 is <class 'float'>

If you want to concatenate two or more strings, there are several ways to achieve this in Python. 
The simplest method is to use `+`

In [12]:
saludo = "hola" + " " + "mundo"
#Another way of doing the same thing
saludo = "hola mundo"
print(saludo)

hola mundo

### Casting
is what you call converting a value from one type into another

In [15]:
#casting from integer to string
myage=26
myagestring=str(26)
print("I am"+" "+myagestring)

I am 26

### Formative assessment 1

What would be the difference between an integer and float data type?
How would we convert a float into an integer?
(Give a best guess answer)

In [18]:
# Solution / solucion

Int_alumni = int(half_alumni) # this is we casting from float to int


print(half_alumni, "is", type(half_alumni),
      "but", Int_alumni, "is", type(Int_alumni)) #print instruction

7.5 is <class 'float'> but 7 is <class 'int'>

### Formative assessment 2

What will be type of the output of the next cell?

```
channel = 100.0
```

1. int

2. float

3. str

In [21]:
# Solution / solucion

channel = 100.0
type(channel)

float

### Mathematical operations

All of the standard calculator arithmetic operations are available between variables.

We measure a certain geophysical variable at a height of 53.2 meters above sea level:

In [22]:
sea_height = 53.2

In [23]:
sea_height

53.2

**Addition**

In [24]:
sea_height + 10.6

63.800000000000004

In [25]:
sea_height - 3.5

49.7

**Multiplication**

In [26]:
sea_height * 2

106.4

**Division**

In [35]:
sea_height / 2

26.6

In [36]:
sea_height // 2

26.0

In [37]:
53//2

26

**Power**

In [38]:
sea_height ** 2

2830.2400000000002

### Problem 2
The volume of water across a section of the river is given by $V=A_C\cdot t$, where $t$ is time in minutes and $A_C$ is the cross sectional area. Find the volume of water across a section of the river with $A_C=10m^2$ at times $t=5, 15, 30, \text{and } 60$ min.

In [50]:
time=5
cross_sectional_area=10
Volume=time*cross_sectional_area
print(Volume)
time=15
Volume=time*cross_sectional_area
print(Volume)
time=30
Volume=time*cross_sectional_area
print(Volume)
time=60
Volume=time*cross_sectional_area
print(Volume)

50
150
300
600

## Data Structures

A data structure is a term to describe a type of "data container". 
They are used to store multiple data of (usually) the same type and provide certain accessor functions to extract the data from the container.

### List

Python lists are used to store a collection of data.
A list is composed of comma-separated values between square brackets.

In [51]:
impares = [1, 3, 5, 7, 9]

type(impares)

list

It can store heterogeneous data or you can even have lists of lists

In [54]:
list_heterogeneous = ["agua", 20.1, 52]

anidadas = [[1, 2, 3], 3.0, "hielo"]

print(list_heterogeneous) 
print(anidadas)

type(anidadas)

['agua', 20.1, 52]
[[1, 2, 3], 3.0, 'hielo']

list

To access the first element of the list, which is a list

In [55]:
anidadas[0]

[1, 2, 3]

We can access to the values housed in a list through its indices

In [56]:
temperaturas = [10.1, 14.6, 18.3, 20.3]

In [61]:
temperaturas

[10.1, 14.6, 18.3, 20.3]

In [58]:
print("Primer valor de temperatura:", temperaturas[0])
print("Segundo valor de temperatura:", temperaturas[1])
print("Ãšltimo valor de temperatura:", temperaturas[-1])
print("PenÃºltimo valor de temperatura:", temperaturas[-2])

Primer valor de temperatura: 10.1
Segundo valor de temperatura: 14.6
Ãšltimo valor de temperatura: 20.3
PenÃºltimo valor de temperatura: 18.3

In [69]:
print(temperaturas[3])
print(temperaturas[-4])

20.3
10.1

**Observations:**

* In Python, the 0 index is the first element.
* Negative indices indicate that we start counting from the last item in the list.
* Lists have a method called `append` that allows us to add values.
* The lists do not have a fixed length, we can change it as we need.

The indices also allow us to modify the values of the list

In [70]:
print("Temperature before: ", temperaturas)
temperaturas[0] = -2.3

print("Temperature after:", temperaturas)

Temperature before:  [10.1, 14.6, 18.3, 20.3]
Temperature after: [-2.3, 14.6, 18.3, 20.3]

In [74]:
temperaturas.append(23.5)

print(temperaturas)

[-2.3, 14.6, 18.3, 20.3, 23.5, 23.5, 23.5, 23.5]

We use `len` to find out how many values are in a list.

In [75]:
len(temperaturas)

8

In [77]:
temperaturas[len(temperaturas)-1]

23.5

In case we want to extract a _slice of the list_ instead of a single element, it is possible.
If we want to obtain all the elements from the second to the fourth, inclusive:

In [79]:
temperaturas[1:6]

[14.6, 18.3, 20.3, 23.5, 23.5]

If we want to choose the first three elements

In [80]:
temperaturas[:3]

[-2.3, 14.6, 18.3]

Similarly, if we want to get all the elements after the third element

In [81]:
temperaturas[3:]

[20.3, 23.5, 23.5, 23.5, 23.5]

How can we use a slice to access all its elements except the last one?

In [ ]:
temperaturas[:-1]

We can concatenate lists using `+`

In [82]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

**Can you create an empty list?**

In [83]:
lista_vacia = []

lista_vacia

[]

In [86]:
lista_vacia=[]
lista_vacia.append("Sergio")
lista_vacia.append("Pedro")
lista_vacia.append("Juan")
lista_vacia.append("Lorena")
print(lista_vacia)

['Sergio', 'Pedro', 'Juan', 'Lorena']

### Problem 3

Create a list with 5 elements and afterwards change its entries to be on the reverse order

### Tuple

Tuples are like a list of constants. 
If you have data that you want to store in a structure, but you know it will not be changed, tuples can be more efficient.

In [88]:
tuple = (2, 3.4, "March")

In [90]:
tuple[2]="may"

TypeError: 'tuple' object does not support item assignment

### Problem 4

Make 2 tuples with at least 3 elements. Then put those tuples in a list (suggestion: create an empty list and use the append command)

### Dictionary

Dictionaries are a way to efficiently store and retrieve data values by a _keyword_.
A dictionary is formed of value-key pairs, separated by commas, enclosed in curly brackets `{}`.
The key and the value are separated by a colon `:`, i.e. `key:value`.

In [91]:
my_dict = {'numerical' : 1, 'alphabetical': 'abc'}

print(my_dict)

{'numerical': 1, 'alphabetical': 'abc'}

We can access values using the keys between square brackets.

In [92]:
my_dict['numerical']

1

In [93]:
my_dict.get("alphabetical")

'abc'

In [95]:
my_dict.keys()

dict_keys(['numerical', 'alphabetical'])

Keys are immutables (i.e. can't be changed) but values can be updated.

In [96]:
my_dict['numerical'] = 5500

In [97]:
print(my_dict)

{'numerical': 5500, 'alphabetical': 'abc'}

We can also add new key-value pairs

In [98]:
my_dict['binary'] = 1010001

print (my_dict)

{'numerical': 5500, 'alphabetical': 'abc', 'binary': 1010001}

### Problem 5

Make a Dictionary and print one of its entries.

### Formative assessment 3

What happens if we try to access item 3 of the list `[-3.0, -2.0, -1.0]`?

1. Error

2. -1.0

3. Nothing happens

In [4]:
# Solution / SoluciÃ³n

lista = [-3.0, -2.0, -1.0]

lista[-3]

-3.0

## Python Libraries

One of the advantages of using Python to process data is the ability to use libraries.
Libraries are **collections of modules** that contain functions to be used by other programs (for example, our notebooks and scripts). 
These functions usually save us a lot of time when performing certain tasks, since we do not need to write our own code to carry them out.

In addition, libraries are usually developed following best practices:
* Well designed code.
* They use version drivers.
* They have automated tests.
* Extensive documentation.
* Developed by a community.

In this opportunity, we will learn about **[Numpy](https://numpy.org/)**, which is one of the most used libraries when it comes to scientific computing.

### Importing Numpy

In order to make use of the libraries, we first need to import them

In [ ]:
import numpy as np

This allows us to access the modules and functions of the library

In [ ]:
np.array([1, 2, 3, 4])

### Numpy Arrays

NumPy introduces a new type of variable, the `numpy.array`.
Like lists, they allow you to store many values under a single variable:

In [ ]:
array_1d = np.array([2, 4, 6, 8.3, 4, 5])

print(array_1d)

type(array_1d)

We can use indexes as we did with lists

In [ ]:
array_1d[0]

In [ ]:
array_1d[2:]

**What are the advantages and disadvantages of using `arrays`?**

* Arrays have a fixed size. Once created, we cannot add or remove values from it.
* Arrays store a single type of variables (floats or ints).
* They have a more efficient management of memory.
* All the operations we perform with _NumPy_ are faster than using _forloops_ and _lists_.

### Array operations

Another advantage of using arrays is that many mathematical operations can be performed very easily.
For example, let's go back to the values of distance in inches.

In [ ]:
inches = [10, 24.5, 90, 6.75, 90.7, 80]

# Convert the list into an array / Convertimos la lista en un array:
inches = np.array(inches)

print(inches)

Convert to meters

In [ ]:
meters = inches * 25.4e-3 

print(meters)

Add 10 meters

In [ ]:
meters + 10

It is also possible to operate with other matrices as long as they have the same shape.

In [ ]:
precios = np.array([100, 200, 120, 98, 65, 3], dtype=float)
cantidades = np.array([2, 1, 3, 4, 9, 5])

print(precios, cantidades)

In [ ]:
costos = precios * cantidades

print(costos)

In [ ]:
total = np.sum(costos)

print(total)

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5])

a + b

### Multidimensional arrays

It is possible to define multidimensional arrays.
For example, a 2D array would look like an array:

In [ ]:
array_2d = np.array([[1, 2, 3], [4, 5, 6]])

print(array_2d)

In [ ]:
array_2d.shape

In [ ]:
type(array_2d.shape)

We can access each element of a 2D array through its indexes

In [ ]:
array_2d[0, 1]

We can extract a portion of the array

In [ ]:
array_2d[:, 1]

### Some Numpy functions

Every time we make use of the functions of a library, it is advisable to read its documentation

In [ ]:
np.mean?

In [ ]:
print(array_1d)

print(
    "Mean:", np.mean(array_1d),
    "Standard deviation:", np.std(array_1d),
    "Max:", np.max(array_1d),
    "Min:", np.min(array_1d),
    "Square root:", np.sqrt(array_1d)
     )

## Homework

### 1Â° Task

A colleague from the United States shared with us the following temperature measurement, given in Fahrenheit:

$$
T = 30.3^\circ \text{F}
$$

Convert this value to degrees Celsius, knowing that:
$$[^\circ \text{C}] = \frac{5}{9} ([^\circ \text{F}] - 32) $$ 

Requirements:

* Assign the received data to a variable.
* Apply the unit transformation using this variable.
* Save the data in Celsius in another variable.
* Use the print function to display both results.

In [ ]:
# Solucion
temperatura_f = 30.3
temperatura_c = 5 / 9 * (temperatura_f - 32)

print(temperatura_c)

### 2Â° Task

Now, convert the following list of temperatures in Fahrenheit to Celsius.

temperatures_F = [30.3, 20.1, 46.5, 34.1, 42.3]

In [ ]:
# Solution 

temperaturas_f = [30.3, 20.1, 46.5, 34.1, 42.3]
temperaturas_f = np.array(temperaturas_f)

temperaturas_c = 5 / 9 * (temperaturas_f - 32)

print(temperaturas_c)

### 3Â° Task

Given the array: `([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])`, investigate the `numpy` library documentation for reshape the array to be 4x4.

In [ ]:
# Solution 
datos = np.array([ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
datos_4x4 = np.reshape(datos, (4, 4))

print(datos_4x4, datos_4x4.shape)

### 4Â° Task

`Numpy` allows us to apply mathematical functions.

Calculate the sine and cosine of the angles 0, 30, 45, 60 and 90 given in degrees:
1. Create an array with the angles in degrees.
2. Convert the angles to radians.
3. Calculate the sine and cosine of these angles and store them in two different arrays.

_Investigate the `numpy` library to find the functions to convert the angles from degrees to radians and calculate the sine and cosine._

In [ ]:
# Solution
angulos_deg = np.array([0, 30, 45, 60, 90])
angulos_rad = np.radians(angulos_deg)
cosenos = np.cos(angulos_rad)
senos = np.sin(angulos_rad)

### 5Â° Task


**Finite differences**

A common approximation for computing derivatives of functions is a finite difference approximation:

$$\frac{d}{dx} y(x) = \frac{y(x + \Delta x) - y(x)}{\Delta x}$$

or for discrete data

$$\frac{d}{dx} y(x_i) = \frac{y(x_i + \Delta x) - y(x_i)}{\Delta x} = \frac{y(x_{i+1}) - y(x_i)}{x_{i+1} - x_{i}}$$

This operation can be accomplished using index, silce and vectorized algebraic operations.
Try to solve it!

Now, read the numpy documantation to find a function to calculate $\frac{d}{dx} y(x_i)$.

In [ ]:
# Solution

x = np.arange(0, 5, 0.5)
y = x ** 2

# Analytical Solution
dy_dx_exact = 2 * x

# Numerical Solution using index
dy_dx = (y[1:] - y[:-1]) / (x[1:] - x[:-1])

# Numerical Solution using numpy
dy_dx_numpy = np.diff(y) / np.diff(x)

# Plot 
# Is is not necesary that the student make the plot
import matplotlib.pyplot as plt

plt.plot(x, dy_dx_exact, 'o-')
plt.plot(x[1:], dy_dx, 'o-')
plt.plot(x[1:], dy_dx_numpy, '-', color="yellow")
plt.title("dy/dx")
plt.legend(["Exact", "Numeric", "Numeric_numpy"])

## Extra material to keep learning
* [How use JupyterLab by Software Carpentry](https://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html)

* [Apuntes generates de Python](https://drive.google.com/file/d/12_1yUhaGeoH7wLGqrHiSx987FMdqM_Mv/view)

* [Introduction to Python1](https://johnfoster.pge.utexas.edu/numerical-methods-book/PythonIntro.html)

* [Plotting and Programming in Python by Software Carpenty](https://swcarpentry.github.io/python-novice-gapminder/index.html)

* [NumPy tutorials](https://numpy.org/learn/)