# Second Session
    
In this notebook, we are going to learn type of variables, list, math operations, loops and conditional statements.

----

En este cuaderno, aprenderemos el tipo de variables, lista, operaciones matemáticas, bucles y declaraciones condicionales.

## Variables and data type / Variables y tipos de datos 

A _variable_ allows us to store a value.
In Python, we can assign a value to a variable, using the equals sign `=`

----

Una _variable_ nos permite almacenar un valor en un lugar determinado. 
En Python usamos el simbolo `=` para asignar un valor a una variable.

In [7]:
alumni = 15
course_name = "CoCo"

The keyword `print()` is a function in Python.
We can use it to see the value store in the variable.

----

`print()` es una funcion en Python, que podemos usarla para examinar el valor asisnado a una variable.

In [8]:
print(alumni)

15

In [10]:
print(course_name, "course has", alumni, "alumni")

CoCo course has 15 alumni

## Data Types / Tipos de datos

There are several different data types that we will be exploring in the course. 
The data types we will be exploring are:
* integer
* string
* float

---

Hay diferentes tipos de datos que vamos a ver en el curso, los cuales son:
* integers (int): números enteros
* strings (str): cadena de caracteres
* floats (float): valores de punto flotante (representación aproximada de números reales).

In [11]:
type(alumni)

int

In [13]:
type(course_name)

str

In [14]:
half_alumni = alumni / 2

print(half_alumni, "is", type(half_alumni))

7.5 is <class 'float'>

If you want to concatenate two or more strings together, there are several ways to achieve this in Python. 
The simplest method is to use `+`

---

Si desea concatenar dos o más cadenas juntas hay varias formas de hacelo.
La mas comun es usar `+`.

In [25]:
saludo = "hola" + " " + "mundo"

print(saludo)

hola mundo

### Formative assessment

What would be the difference between an integer and float data type?
How would we convert a float into an integer?
(Give a best guess answer)

---

¿Cuál sería la diferencia entre un tipo de datos entero y flotante?
¿Cómo convertiríamos un flotante en un número entero?
(Dar una mejor respuesta posible)

In [22]:
# Solutiopn / solucion

Int_alumni = int(half_alumni)

print(half_alumni, "is", type(half_alumni), "but", Int_alumni, "is", type(Int_alumni))

7.5 is <class 'float'> but 7 is <class 'int'>

### Formative assessment

What will be the output of the next cell?

---

¿Cual será el output de la siguiente celda?

```
channel = 100.0
```

1. int

2. float

3. str

In [21]:
# Solution / solucion

channel = 100.0
type(channel)

float

## Mathematical operations / Operaciones matemáticas

All of the standard calculator arithmetic operations are available between variables.

We measure a certain geophysical variable at a height of 53.2 meters above sea level: 

---

Podemos aplicar diferentes operaciones matemáticas a las variables.

Medimos una determinada variable geofísica a una altura de 53.2 metros sobre el nivel del mar:

In [23]:
sea_heigt = 53.2

**Addition / Suma**

In [19]:
sea_heigt + 10.6

63.800000000000004

In [24]:
sea_heigt - 3.5

49.7

**Multiplication / Multiplicación**

In [20]:
sea_heigt * 2

106.4

**Division / División**

In [21]:
sea_heigt / 2

26.6

In [22]:
sea_heigt // 2

26.0

**Power / Potencia**

In [28]:
sea_heigt ** 2

2830.2400000000002

### Homework / Tarea

A colleague from the United States shared with us the following temperature measurement, given in Fahrenheit:
$$ T = 30.3 ^ \ circ \ text {F} $$

Convert this value to degrees Celsius, knowing that:
$$ [^ \ circ \ text {C}] = \ frac {5} {9} ([^ \ circ \ text {F}] - 32) $$

Requirements:

* Assign the received data to a variable.
* Apply the unit transformation using this variable.
* Save the data in Celsius in another variable.
* Use the print function to display both results.

---

Un colega de Estados Unidos nos ha compartido la siguiente medición de temperatura de suelo dada en Fahrenheit:
$$ T = 30.3 ^\circ\text{F} $$

Conviertan este valor a grados Celsius, sabiendo que:
$$ [^\circ\text{C}] = \frac{5}{9} ([^\circ\text{F}] - 32) $$

Requerimientos:

* Asignar el dato recibido a una variable.
* Aplicar la transformación de unidades usando esta variable.
* Guardar el dato en Celsius en otra variable.
* Utilizar la función print para mostrar ambos resultados.

In [ ]:
# Solucion
temperatura_f = 30.3
temperatura_c = 5 / 9 * (temperatura_f - 32)

print(temperatura_c)

## List / Listas

Python lists are used to store a collection of data.

---

Las listas nos permiten guardar múltiples valores bajo una misma variable.

In [26]:
impares = [1, 3, 5, 7, 9]

type(impares)

list

It can store heterogeneous data or you can even have list of lists

---

Pueden tener cualquier tipo de elementos hasta listas.

In [27]:
list_heterogeneous = ["agua", 20.1, 52]

anidadas = [[1, 2, 3], 3.0, "hielo"]

print(list_heterogeneous, anidadas)

['agua', 20.1, 52] [[1, 2, 3], 3.0, 'hielo']

We can access to the values housed in a list through its indexes.

---

Podemos acceder a los valores alojados dentro de una lista a través de sus índices.

In [29]:
temperaturas = [10.1, 14.6, 18.3, 20.3]

In [30]:
print("Primer valor de temperatura:", temperaturas[0])
print("Segundo valor de temperatura:", temperaturas[1])
print("Último valor de temperatura:", temperaturas[-1])
print("Penúltimo valor de temperatura:", temperaturas[-2])

Primer valor de temperatura: 10.1
Segundo valor de temperatura: 14.6
Último valor de temperatura: 20.3
Penúltimo valor de temperatura: 18.3

**Observations:**

* In Python, the 0 index indicates the first element.
* Negative indices indicate that we start counting from the last item in the list.
* Lists have a method called `append` that allows us to add values.
* The lists do not have a fixed length, we can change it as we need.


The indexes also allow us to modify the values of the list.

---

**Observaciones**

* En Python, el índice 0 indica el primer elemento.
* Índices negativos indican que empezamos a contar desde el último elemento de la lista.
* Las listas poseen un método llamado `append` que nos permite agregar valores.
* Las listas no tienen una longitud fija, podemos cambiarla según lo necesitemos.


Los índices además nos permiten modificar los valores de la lista.

In [31]:
temperaturas[0] = -2.3

print(temperaturas)

[-2.3, 14.6, 18.3, 20.3]

In [32]:
temperaturas.append(23.5)

print(temperaturas)

[-2.3, 14.6, 18.3, 20.3, 23.5]

In [33]:
len(temperaturas)

5

In case we want to extract a slice of the list instead of a single element, it is possible.

If we want to obtain all the elements from the second to the fourth, inclusive:

---

En caso de que querramos extraer una porción de la lista en vez de un sólo elemento, es posible utilizar slices.

Si queremos obtener todos los elementos desde el segundo hasta el cuarto, inclusive:

In [34]:
temperaturas[1:4]

[14.6, 18.3, 20.3]

If we want to choose the first three elements:

---

Si queremos elegir los primeros tres elementos:

In [35]:
temperaturas[:3]

[-2.3, 14.6, 18.3]

Similarly, if we want to get all the elements after the third element:

---

De manera similar, si queremos obtener todos los elementos después del tercero:

In [ ]:
temperaturas[3:]

How can we use a slice to access all its elements except the last one?

---

¿Cómo podemos usar un slice para acceder a todos sus elementos menos el último?

In [ ]:
lista[-1]

Can you create an empty list? / ¿Se puede crear una lista vacía?

In [38]:
list = []

list

[]

### Formative assessment

What happens if we try to access item 10 of the list `[-3.0, -2.0, -1.0]`?

1. Error

2. -1.0

3. Nothing happens

---

¿Qué sucede si intentamos acceder al elemento 10 de la lista `[-3.0, -2.0, -1.0]`?

1. Error

2. -1.0

3. No pasa nada

In [ ]:
# Solution / Solución

lista = [-3.0, -2.0, -1.0]

lista[10]

## For loops

A _for loop_ is meant to repeat specific lines of code.
This is helpful when having to execute a block of code on a list (as an example).
The structure of a for loop is as follows:

* a loop starts with a `for` statement, followed by a counter.  
* code within the loop is used to execute on each value within a series.
* In Python, indensation is not decoration, they are functional.

---

Un _for loop_ for está destinado a repetir líneas de código específicas. Esto es útil cuando se tiene que ejecutar un bloque de código en una lista (como ejemplo).
La estructura de un bucl es:

* un bucle comienza con una declaración `for`, seguida de un contador.
* el código dentro del bucle se utiliza para ejecutar en cada valor dentro de una serie.
* En Python, la indenstacion no es decoracion, son funcionales.

In [26]:
a = [1, 2, 3, 4, 5, 6]   # List which we will use to execute for loop

for i in a:   #initialize for loop with counter
    variable = i + 1   # code to be executed on the list
    print(variable)   # printing results

2
3
4
5
6
7

In [32]:
# Let's add all the numbers from 1 to 10. 
# Sumemos todos los números del 1 al 10.

suma = 0
for i in range(10):
    # We add a 1 to i to add from 1 to 10 and not from 0 to 9 
    # Le añadimos un 1 a i para sumar de 1 a 10 y no de 0 a 9
    suma = suma + (i + 1)

print(suma)

55

## First Practice Exercise / Primer ejercicio de práctica

Create a for loop for the following list that multiplies each value in list, by 2. Print the results.

---

Cree un ciclo for para la siguiente lista que multiplique cada valor de la lista por 2. Imprima los resultados. 

```
array = [2, 4, 6, 8, 10]
```

In [36]:
# Solution / Solución

array = [2 ,4 ,6 ,8 ,10]

for i in array:
    new_array = i*2
    print(new_array)

4
8
12
16
20

### Homework / Tarea

Convert the following list of temperatures in Fahrenheit to Celsius with a for loop.

temperatures_F = [30.3, 20.1, 46.5, 34.1, 42.3]


_Help:_

It may be useful to create an empty list where we store the temperature data in Celsius and add values to it with the append method.

---

Convierta la siguiente lista de temperaturas en Fahrenheit a grados Centígrados unado un for loop.

temperaturas_F = [30.3, 20.1, 46.5, 34.1, 42.3]


_Ayuda:_

Quizás sea útil crear una lista vacía donde guardemos los datos de temperatura en Celsius e ir agregándole valores con el método append

In [ ]:
# Solution / Solución

temperaturas_F = [30.3, 20.1, 46.5, 34.1, 42.3]

temperaturas_c = [5 / 9 * (temp_f - 32) for temp_f in temperaturas_F]

## Conditional Statements / Condicionales

A conditional statement is used to handle decisions within your code.
The purpose is to execute a piece of code so long as the condition is met. In this lecture, we will be exploring how to use the _if/else_ statement. 

---

Una declaración condicional se usa para manejar decisiones dentro del código.
El propósito es ejecutar un fragmento de código siempre que se cumpla la condición.
En esta lección, exploraremos cómo usar la declaración _if/else_.

In [27]:
a = 33
b = 100

if b > a:
  print("b is greater than a")  # b es mas grande que a
elif a == b:
  print("a and b are equal")  # a es igual a b

b is greater than a

In [33]:
temperatura_c = -5

hiela = (temperatura_c <= 0)

type(hiela)

bool

Bools are binary variables, so, they can only store two values: True (true) or False (false).

_Important:_ They are not str.

---

Los bools o buleanos son variables binarias, es decir, solo pueden almacenar dos valores: True (verdadero) o False (falso).

_Importante:_ Un bool no es un str.

### Formative assessment

Build an if/else statement that prints if a variable is a float or an integer.

---

Cree una declaración if/else que imprima si una variable es un número flotante o un número entero.

`a = 101.7`

In [ ]:
# Solution / Solución

a = 101.7

if type(a) == float:
    print('This value is a float')
else:
    print('This value is a string')

## Homework / Tarea

Using the list below (`list_values`), create a for loop that multiplies each value in the list by 2 _if_ the value is greater than 2.
Print the values.

---

Usando la lista a continuación (`list_values`), cree un ciclo for que multiplique cada valor en la lista por 2 _si_ el valor es mayor que 2.
Imprima los valores.

```
list_values = [1 ,2 ,3 ,4, 5, 6, 7]
```

In [39]:
# Solution / Solución

list_values = [1, 2, 3, 4, 5, 6, 7]

for i in list_values:
    if i > 2:
        new_values = i*2
        print(new_values)

6
8
10
12
14